<!Doctype html>
<html>
  <head>
    <title>Welcome to MyFunDay</title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style = "background-image: url('/img/background.jpg'); background-size: 100%">
      <h1>&nbsp &nbsp MyFunDay &nbsp &nbsp</h1>
	  <a href = "/mainPage" class="custom-button">Перейти на тестовую версию сайта</a>
	  <br> <br> <br>
      
	  <h3>Кто мы такие?</h3>
      <p><b>Мы - команда</b> начинающих разработчиков, учащихся в ННГУ им Лобачевского и попавших на практику в Neoflex Перед нами стоит задача реализовать проект по подбору досуга под индивидуальный запрос каждого пользователя, наполнив его самыми интересными и разнообразными местами вблизи него, а также построить оптимальный маршрут</p><br>
    </div>

    <div class = "gallery-container">
      <div class = "gallery">
	<img src = "/img/dima.jpg">
	<img src = "/img/polina.jpg">
	<img src = "/img/lesya.jpg">
	<img src = "/img/kirill.jpg">
      </div>
    </div>

	<pdiv>
      <h3>Что мы используем?</h3>
      <p>В основе нашего сайта лежит приложение, написанное на Java с использованием фреймворка Spring, к нему подключена база данных PostgreSQL, наполненная всевозможными местами отдыха в Нижнем Новгороде, а визуальное оформление пишем на HTML, CSS и поливаем всё это Bootstrap</p>
		<div class = "gallery2">
			<img src = "/img/java.png">
			<img src = "/img/spring.png">
			<img src = "/img/postgres.png"><br>
		</div>
	</div>
    
	<div class="git">  
		<h4>&nbsp &nbsp <img src = "/img/git.jpg"><br>
			<a class="custom-button" href="https://github.com/NametkinDV/myfunday.git"> GitHub</a> нашего проекта </h4>
	</div>
  </body>
</html>
