<!DOCTYPE html>
<html>
    <head>
        <title>MyFunDay</title>
        <link rel = "stylesheet" type = "text/css" href = "../static/styles.css">
    </head>

    <body>
        <h1>MyFunDay</h1>
        <!-- <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label> -->
        <div>
            <!-- совершенолетний или нет -->
            <label for="age">Возраст: </label> 
            <select name="age">
                <option>value= "any">Любой</option>
                <option value= "teens">12-18</option>
                <option value= "young">18-30</option>
                <option value= "adult">30-50</option>
                <option value= "old">50+</option>
            </select>
        </div>

        <div>
            <!-- ползунок? -->
            <label for="budget">Средний бюджет: </label>
            <select name="budget">
                <option value= "any">Любой</option>
                <option value= "free">Бесплатно</option>
                <option value= "cheap">До 1000 руб.</option>
                <option value= "middle">1000-5000 руб.</option>
                <option value= "expensive">5000+ руб.</option>
            </select>
        </div>
 
        <!-- для детей, свидание, тип отдыха (актив, пассив), свободное время (промежуток), район, пешком/на транспорте -->
    </body>
</html>