H1{
	display:inline-block;
	vertical-align: middle;
    color: white;
    background-color: black;
	border-radius: 0.4rem;
    font-family: helvetica;
    font-size: clamp(1.6rem, 5vw, 2.5rem);
    font-weight: 500;
    }

H3{
    color: white;
    font-size: helvetica;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
}

H4{
    color: white;
	font-size: clamp(0.7rem, 1vw, 1rem);
}

P{
	color: white;
	font-size: clamp(0.75rem, 2vw, 1.2rem);
	text-align: justify;
	text-align-last: center;
	padding: 0 clamp(1rem, 8vw, 8rem);
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: max(100vh, auto); 
  padding: clamp(0.1rem, 0.7vw, 2rem) clamp(0.1rem, 0.7vw, 1.2rem);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0.2rem, 1vw, 1.2rem);
  width: 100%;
  max-width: 75rem;
}

.gallery img {
  width: 100%;
  height: auto;
  aspect-ratio: 1642 / 1704; 
  object-fit: contain;
  border-radius:0.75rem;
}

.gallery2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery2 img {
	width: auto;
	height: clamp(3rem, 5vw, 6.26rem);
	align-content: center;
}

.git{
	display: flex;
}

.git img{
	width: clamp(1.8rem, 3vw, 3.75rem);
	height: auto;
}

.custom-button {
	display: inline-block;
	vertical-align: middle;
	padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1rem, 1vw, 1.5rem);
	font-family: Arial, sans-serif;
	font-size: clamp(0.3rem, 2vw, 1rem);
	font-weight: bold;
	color: white;          
	background-color: #0d6efd;
	text-decoration: none;   
	border-radius: 0.4rem; 
	transition: all 0.2s ease; 
	cursor: pointer;
	}

.custom-button:hover {
	background-color: #0b5ed7; 
	transform: translateY(-0.125rem); 
	}

.custom-button:active {
	transform: translateY(0);
        }
